body {
  font-style: rubik;
  color: white;
  background-color: #3E92CC;
  overflow: hidden;
  position: relative;
  margin: 0;
 }
 
 .sidebar{
    position: fixed;
    width: 250px;
    top:0;
    left: 0;
    bottom: 0;
    background: #13293D;
    padding-top: 50px;
 }
 
 .sidebar h1{
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-family: rubik;
    letter-spacing: 3px;
    font-weight: 300;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
 }
 
 .sidebar a{
    display: block;
    padding: 10px 20px;
    color: gray;
    text-decoration: none;
    font-family: rubik;
    letter-spacing: 2px;
 }
 
 .sidebar a:hover{
    color: white;
    margin-left: 20px;
    transition: 0.3s;
 } 